.App {
  margin: 11px auto;
  text-align: center;
  width: 333px;
}

.progress-bar {
  stroke-linecap: round;
}

.progress-bar__base {
  stroke: beige;
}

.progress-bar__progress {
  stroke: green;
  transition-property: stroke-dasharray;
  transition-timing-function: linear;
}
